extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
				h1.text-center.login-title Enter a Twitter handle
				form#ipsify.form-horizontal(method='POST', action='/ipsify')
					input(type='hidden', name='_csrf', value=_csrf)
					.form-group
						.col-sm-6            
						input.form-control(type='text', name='twitterHandle' id='twitterHandle' placeholder='Twitter Handle', autofocus)
					.form-group
						select.form-control(name='language', form="ipsify")
							each language in languages
								option= language
					.form-group
						.col-sm-7
						button.btn.styled-button#submit(type='submit') Submit