body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#area {
    margin-top: 100px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    box-shadow: 3px 3px 5px #888888;
}

.login-title{
    color: black;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

#submit {
    position: relative;
    text-transform: uppercase;
    margin: 0 auto !important;
    width: 100%;
    background-color: white;
    border-width: 2px;
    padding: 2px;
    transition: 0.3s;
}

#submit:hover{
    transition: 0.5s;
    background-color: #666666;
    color: white;
    border-color: black;
    border-width: 2px;
}

p {
    display: inline;
}

h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}