body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0B6B7D;
}

a {
  color: #00B7FF;
}

.title {
    text-align: center;
    font-size: 60px;
    color: white;
}

.lorem {
    font-size: 16px;
}

#area {
    margin-top: 60px;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
    box-shadow: 3px 3px 5px #888888;
}

.box-label {
    color: black;
    font-size: 14px;
    float: left;
    font-weight: 400;
    display: block;
    margin-left: -10px;
    margin-top: 10px;
}

#submit {
    position: relative;
    text-transform: uppercase;
    margin: 0 auto !important;
    width: 100%;
    background-color: white;
    border-width: 2px;
    padding: 2px;
    transition: 0.3s;
}

.result {
    background-color: #E0E0E0;
}

#submit:hover{
    transition: 0.5s;
    background-color: #73C7D6;
    color: white;
    border-width: 2px;
}

p {
    display: inline;
}

h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}